html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}
#app {
  overflow-y: hidden;
}
.shake {
  display: inline-block;
  animation: shaking infinite 0.2s;
}
.finish {
  transition: all 1s;
}
@keyframes shaking {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}